@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* global clearing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}

.login-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100vh;
    width: 70%;
    padding: 0 40px;
    margin-top: 100px;
}

.header {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    display: grid;
    gap: 30px;
}

.form-signin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.form-signin > .input-user,
.input-password {
    width: 443px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background-color: rgb(245, 245, 247);
    display: flex;
    flex-direction: row;
    outline: none;
    position: relative;
}

.input-user > input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 22px;
    background-color: transparent;
    padding: 15px;
    transition: 0.5s;
}
.input-password > input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 22px;
    background-color: transparent;
    padding: 15px;
    transition: 0.5s;
}

.label-group {
    position: absolute;
    left: 60px;
    padding: 18px;
    font-size: 18px;
    color: grey;
    pointer-events: none;
    transition: 0.5s;
    text-transform: capitalize;
}

input:valid + .label-group,
input:focus + .label-group {
    color: #1c6fdc;
    transform: translateX(15px) translateY(-10px);
    font-size: 18px;
    font-weight: 600;
    background: rgb(245, 245, 247);
    background: linear-gradient(
        0deg,
        rgba(245, 245, 247, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    padding: 0 5px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

input:valid,
input:focus {
    border: 2px solid #1c6fdc;
    border-radius: 8px;
}

img {
    width: 30px;
    margin: 0 12px;
}
/* button style */
.button-login {
    display: inline-flex;
    width: 160px;
    height: 70px;
    background-color: #096426;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 40px;
    padding: 0;
    outline: none;
    border: none;
    overflow: hidden;
    cursor: pointer;
}

.button-login:hover {
    background: #127d32;
}

.button-text,
.button-icon {
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    height: 100%;
}

.button-text > .url-login {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.button-icon {
    font-size: 1.5rem;
    background-color: rgba(6, 92, 39, 0.8);
}

.border {
    border-bottom: 1px solid rgb(232, 224, 224);
    width: 40%;
    height: 10%;
    position: relative;
    bottom: 3em;
}

/* keterangan : 

3 em disini = 1 rem = 18 px

*/

.footer-login {
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 7em;
}

.footer-login a {
    text-decoration: none;
}

.login-right {
    width: 50%;
    height: 100%;
    background-image: url("/assets/login-page.png");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: -10px;
}
